<html th:replace="admin/Admin_base::layout(~{::section})">

<head>

</head>

<body>
	<section>
		<div class="col-sm-12 col-xl-10 mt-4">
			<div class="bg-light rounded h-70 p-4">
				<h6 class="mb-4 ">Добавление товара</h6>
				<form th:action="@{/ADMIN/add_product}" method="post" enctype="multipart/form-data">
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Название товара</label>
						<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
							name="pname">

					</div>
					<div class="mb-3">
						<label for="exampleInputPassword1" class="form-label">Цена</label>
						<input type="text" class="form-control" id="exampleInputPassword1" name="price">
					</div>
					
					<label for="exampleInputPassword1" class="form-label">Категория</label>
					<div class="form-floating mb-3">
						<select class="form-select" id="category" name="category">
							<option value="">Выберите категорию</option> <!-- Default option -->
							<th:block th:each="category : ${clist}">
								<option th:value="${category.cid}" th:text="${category.cname}"></option>
							</th:block>
						</select>
					</div>

					<label for="exampleInputPassword1" class="form-label">Подкатегория</label>
					<div class="form-floating mb-3">
						<select class="form-select" id="subCategory" name="subCategory">
							<option>Выберите подкатегорию</option>
						</select>
					</div>
					<label for="exampleInputPassword1" class="form-label">Краткое описание</label>
					<div class="form-floating mb-4">
						<textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea1"
							style="height: 150px;" name="shortDescription"></textarea>
						<label for="floatingTextarea1">Краткое описание товара</label>
					</div>
					<label for="exampleInputPassword1" class="form-label">Описание</label>
					<div class="form-floating mb-4">
						<textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
								  style="height: 150px;" name="description"></textarea>
						<label for="floatingTextarea2">Подробное описание товара</label>
					</div>
					<label for="exampleInputPassword1" class="form-label">Дополнительная информация</label>
					<div class="form-floating mb-4">
						<textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea3"
								  style="height: 150px;" name="description"></textarea>
						<label for="floatingTextarea3">Дополнительная информация(например: размер, ширина, материал)</label>
					</div>
					<div class="mb-3">
						<label for="formFileLg" class="form-label">Загрузите картинку</label>
						<input class="form-control form-control-lg" id="formFileLg" type="file" name="image">
					</div>
					<button type="submit" class="btn btn-primary">Добавить</button>
				</form>
			</div>
		</div>

		<script>
			$(document).ready(function () {
				// Event handler for category change
				$('#category').change(function () {
					var categoryId = $(this).val(); // Get the selected category ID
					if (categoryId) {
						$.ajax({
							url: '/ADMIN/subCategories', // URL for the AJAX request to fetch subcategories
							data: {categoryId: categoryId}, // Query parameter to send to the server
							success: function (data) {
								var subcategorySelect = $('#subCategory');
								subcategorySelect.empty(); // Clear the existing options
								subcategorySelect.append($('<option>').val('').text('Select a subcategory'));
								data.forEach(function (sub) {
									var option = $('<option>'); // Create a new <option>
									option.val(sub.subId); // Set the value
									option.text(sub.subName); // Set the displayed text
									subcategorySelect.append(option); // Append the option to the dropdown
								});
							}
						});
					} else {
						$('#subCategory').empty().append($('<option>').val('').text('Select Subcategory'));
					}
				});

				// Event handler for subcategory change
				$('#subCategory').change(function () {
					var subcategoryId = $(this).val(); // Get the selected subcategory ID
				});
			});

		</script>
	</section>
</body>

</html>