<html th:replace="admin/admin_base::layout(~{::section})">

<head>

</head>

<body>
	<section>
		<div class="col-sm-12 col-xl-12 mt-4">
			<div class="bg-light rounded h-80 p-4">
				<div class="col-sm-12 col-xl-4">
					<div class="bg-light rounded h-20 p-1">
						<h6 class="mb-2">Добавить подкатегорию</h6>
						<form th:action="@{/ADMIN/add_subCategory}" method="post" enctype="multipart/form-data">
							<div class="mb-3">
								<label for="name">Название</label>
								<input type="text" class="form-control" id="exampleInputEmail1"
									aria-describedby="emailHelp" name="cname">
							</div>
							<button type="submit" class="btn btn-primary">Добавить</button>
						</form>
					</div>
				</div>
				<h6 class="mb-4">Подкатегории</h6>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Название</th>
							<th>Изменить</th>
							<th>Удалить</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="e:${subCategory}">
							<td th:text="${e.subName}"></td>
							<td> <a class="btn btn-primary" th:href="@{'/ADMIN/update_subCat/' +${e.subId}}">Изменить</a>
							</td>
							<td> <a class="btn btn-danger" th:href="@{'/ADMIN/delete_subCat/' +${e.subId}}">Удалить</a>
							</td>


						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</section>
	<script>
		document.querySelector("form").addEventListener("submit", function (event) {
			const input = document.getElementById("imgFile").value;
			if (!input) {
				event.preventDefault(); // Prevent form submission
				alert("The input is empty. Please provide a value.");
			}
		});
	</script>

</body>

</html>