<html th:replace="base::layout(~{::section})">
<head>

</head>
<body>
	<section class="py-4">

		<!-- Breadcrumb Start -->
		<div class="container-fluid">
			<div class="row px-xl-5">
				<div class="col-12">
					<nav class="breadcrumb bg-light mb-30">
						<a class="breadcrumb-item text-dark" th:href="@{/home}">Главная</a>
						<a class="breadcrumb-item text-dark" >Категории</a>
						<a class="breadcrumb-item text-dark" th:text="${curCat.cname}" ></a>
						<span class="breadcrumb-item active" th:text="${curSubCat.subName}"></span>
					</nav>
				</div>
			</div>
		</div>
		<!-- Breadcrumb End -->

		<!-- Shop Start -->
		<div class="container-fluid">
			<div class="row px-xl-5">
				<!-- Shop Product Start -->
				<div class="container px-4 px-lg-5 mt-5">
					<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
						<!-- Product -->
						<div class="col-lg-4 col-md-6 col-sm-6 pb-1" th:each="product : ${products}">
							<div class="product-item bg-light mb-4">
								<div class="product-img position-relative overflow-hidden">
									<img class="img-fluid w-100" th:src="@{'/image/' + ${product.imgPath}}" alt="">
									<div class="product-action">
										<a class="btn btn-outline-dark btn-square" th:href="@{'/sub/cart'}"><i class="fa fa-shopping-cart"></i></a>
										<a class="btn btn-outline-dark btn-square" th:href="@{'/sub/favorites'}"><i class="far fa-heart"></i></a>
										<a class="btn btn-outline-dark btn-square" th:href="@{'/detail/'+ ${product.pid}}"><i class="fa fa-search"></i></a>
									</div>
								</div>
								<div class="text-center py-4">
									<a class="h6 text-decoration-none text-center" th:text="${product.pname}" href=""></a>
									<div class="d-flex align-items-center justify-content-center mt-2">
										<h5><span th:text="'Цена: ' + ${product.price} + '₽'"></span></h5>
										<h6 class="text-muted ml-2"><del></del></h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Shop End -->
	</section>
</body>

</html>