<!DOCTYPE html>
<html lang="en" th:replace="~{user_base::layout(~{::section})}">
<head>
</head>
<body>
<section>
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" th:href="@{/USER/home}">Главная</a>
                    <a class="breadcrumb-item text-dark" th:href="@{/USER/shop}">Магазин</a>
                    <span class="breadcrumb-item active">Корзина</span>
                </nav>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th>Товар</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Всего</th>
                        <th>Удалить</th>
                    </tr>
                    </thead>
                    <tbody class="align-middle" th:if="${cartList != null}" th:each="item : ${cartList.items}">
                    <tr>
                        <td class="align-middle"><img th:src="@{'/image/' + ${item.product.imgPath}}" alt="" style="width: 50px;"></td>
                        <td class="align-middle"><a th:text="'  '+${item.product.pname}"></a></td>
                        <td class="align-middle" th:text="${item.product.price} + '₽'"></td>
                        <td class="align-middle">
                            <div class="input-group quantity mx-auto" style="width: 100px;">
                                <div class="input-group-btn">
                                    <form method="post" th:action="@{/USER/cart/update/decrease/{userId}/{productId}(userId=${user.id}, productId=${item.product.pid})}">
                                        <button type="submit" class="btn btn-sm btn-primary btn-minus" th:disabled="${item.quantity == 1}">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </form>
                                </div>
                                <input type="text" class="form-control form-control-sm bg-secondary text-center" th:value="${item.quantity}">
                                <div class="input-group-btn">
                                    <form method="post" th:action="@{/USER/cart/update/increase/{userId}/{productId}(userId=${user.id}, productId=${item.product.pid})}">
                                        <button type="submit" class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle" th:text="${item.price} + '₽'"></td>
                        <td class="align-middle">
                            <form method="post" th:action="@{/USER/cart/remove/{productId}(productId=${item.product.pid})}">
                                <input type="hidden" name="returnUrl" th:value="@{/USER/cart}">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </table>
            </div>
            <div class="col-lg-4">
                <form class="mb-30" action="/USER/cart/apply-promo" method="post">
                    <div class="input-group">
                        <input type="text" name="promoCode" class="form-control border-0 p-4" placeholder="Промокод">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Подтвердить</button>
                        </div>
                    </div>
                </form>
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Сумма заказа</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Стоимость товаров</h6>
                            <h6 th:text="${totalSum} + '₽'"></h6>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h6 class="font-weight-medium">Доставка</h6>
                            <h6 class="font-weight-medium" th:text="${shippingCost} + '₽'"></h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium" th:if="${discountPercentage > 0}">Скидка @ <span th:text="${discountPercentage} + '%'"></span></h6>
                            <h6 class="font-weight-medium" th:if="${discountPercentage > 0}" th:text="'-' + ${discountAmount} + '₽'"></h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Всего</h5>
                            <h5 th:text="${#numbers.formatDecimal(finalTotal, 1, 'COMMA', 2, 'POINT')} + ' ₽'"></h5>
                        </div>
                        <form th:action="@{/USER/checkout}" method="get">
                            <input type="hidden" name="promoCode" th:value="${promoCode}" />
                            <button class="btn btn-block btn-primary font-weight-bold my-3 py-3">Заказать</button>
                        </form>
                    </div>
                    <small class="text-center">При покупке от 1000 рублей доставка бесплатная (учитывается стоимость товаров)</small>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
