<!DOCTYPE html>
<html lang="en" th:replace="user_base::layout(~{::section})">

<head>
</head>

<body>
<section class="py-4">
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" th:href="@{/USER/home} " >Главная</a>
                    <span class="breadcrumb-item active">Избранное</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Product Start -->
            <div class="container px-4 px-lg-5 mt-5">
                <!-- Message -->
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col-12" th:if="${favoriteList == null or favoriteList.isEmpty()}">
                        <div class="alert alert-info bg-light" role="alert">
                            Ваш список избранного пуст.<a th:href="@{/USER/shop} "> Хотите добавить что-то в него?</a>
                        </div>
                    </div>
                </div>
                <!-- Message end -->
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <!-- Product -->
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1" th:each="product : ${favoriteList}">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" th:src="@{'/image/' + ${product.imgPath}}" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href="">
                                        <form th:action="@{/USER/cart/add/{productId}(productId=${product.pid})}" method="post" th:if="${cartList == null or !cartList.contains(items)}">
                                            <input type="hidden" name="returnUrl" th:value="${currentUrl}">
                                            <button type="submit" class="btn btn-outline-dark btn-square"><i class="fa fa-shopping-cart"></i></button>
                                        </form>
                                        <form th:action="@{/USER/cart/remove/{productId}(productId=${product.pid})}" method="post" th:if="${cartList != null and cartList.contains(items)}">
                                            <input type="hidden" name="returnUrl" th:value="${currentUrl}">
                                            <button type="submit" class="btn btn-outline-dark btn-square" style="background-color: #f4cf2c;"><i class="fa fa-shopping-cart"></i></button>
                                        </form>
                                    </a>
                                    <a class="btn btn-outline-dark btn-square" href="">
                                        <form th:action="@{/USER/favorites/add/{productId}(productId=${product.pid})}" method="post" th:if="${favoriteList == null or !favoriteList.contains(product)}">
                                            <input type="hidden" name="returnUrl" th:value="${currentUrl}">
                                            <button type="submit" class="btn btn-outline-dark btn-square"><i class="far fa-heart"></i></button>
                                        </form>
                                        <form th:action="@{/USER/favorites/remove/{productId}(productId=${product.pid})}" method="post" th:if="${favoriteList != null and favoriteList.contains(product)}">
                                            <input type="hidden" name="returnUrl" th:value="${currentUrl}">
                                            <button type="submit" class="btn btn-outline-dark btn-square" style="background-color: #f4cf2c;"><i class="far fa-heart"></i></button>
                                        </form>
                                    </a>
                                    <a class="btn btn-outline-dark btn-square" th:href="@{'/USER/detail/'+ ${product.pid}}"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-center" th:text="${product.pname}" th:href="@{'/USER/detail/'+ ${product.pid}}"></a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5><span th:text="'Цена: ' + ${product.price} + '₽'"></span></h5>
                                    <h6 class="text-muted ml-2"><del></del></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Product end -->
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->
</section>
</body>

</html>
