<html th:replace="admin_base::layout(~{::section})">

<head>

</head>

<body>
	<section>
		<div class="col-sm-12 col-xl-12 mt-4">
			<div class="bg-light rounded h-80 p-4">
				<div class="col-sm-12 col-xl-4">
					<div class="bg-light rounded h-20 p-1">
						<h6 class="mb-2">Add SubCategory</h6>
						<form th:action="@{/ADMIN/add_subCategory}" method="post" enctype="multipart/form-data">
							<div class="mb-3">
								<label for="name">Name</label>
								<input type="text" class="form-control" id="exampleInputEmail1"
									aria-describedby="emailHelp" name="cname">
							</div>
							<div class="mb-3">
								<label for="image">Image</label>
								<input type="file" class="form-control" id="imgFile" aria-describedby="emailHelp"
									name="image">

							</div>

							<button type="submit" class="btn btn-primary">Add</button>
						</form>
					</div>
				</div>
				<h6 class="mb-4">Categories</h6>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col"> Id</th>
							<th scope="col">Name</th>
							<th>Image</th>
							<th>Brands</th>
							<th>Update</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="e:${subCategory}">
							<th scope="row" th:text="${e.subId}"></th>
							<td th:text="${e.subName}"></td>
							<td> <img th:src="@{'/image/'+${e.imgPath}}" style="width: 60px; height: 45px;"> </td>
							<td> <a class="btn btn-primary" th:href="@{'/ADMIN/brands/' +${e.subId}}">Brands</a>
							</td>
							<td> <a class="btn btn-primary" th:href="@{'/ADMIN/update_subCat/' +${e.subId}}">Update</a>
							</td>
							<td> <a class="btn btn-danger" th:href="@{'/ADMIN/delete_subCat/' +${e.subId}}">Delete</a>
							</td>


						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</section>
	<script>
		document.querySelector("form").addEventListener("submit", function (event) {
			const input = document.getElementById("imgFile").value;
			if (!input) {
				event.preventDefault(); // Prevent form submission
				alert("The input is empty. Please provide a value.");
			}
		});
	</script>

</body>

</html>