<html th:replace="admin_base::layout(~{::section})">

<head>

</head>

<body>
	<section>
		<div class="col-sm-12 col-xl-12">
			<div class="bg-light rounded h-80 p-4">
				<h6 class="mb-4">Hoverable Table</h6>
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Name</th>
							<th scope="col">Update</th>
							<th scope="col">Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>John</td>
							<td>Doe</td>
							<td>jhon@email.com</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>

</html>